<!DOCTYPE html>
<html>
<head>
	<title>Movie App</title>
	<%- include('head') -%>
</head>
<body>
	<%- include('navbar') -%>
</body>
	<section class="movies">
		<% moviesData.map(function(movie){ %>
			<div class="movie-card">
				<a href="/movie/<%= movie.id %>"><img class="movie-card__image" src="<%= imageBaseUrl + movie.backdrop_path %>" /></a>
			</div>
		  <% }); %>
	</section>
</html>