<header>
    <div>
        <h1 class="header navbar__header">The new IMDB</h1>
    </div>
    <nav>
        <form>
            <select name="category" id="category" class="navbar__select">
                <option value="Movie">Movie</option>
                <option value="Actor">Actor</option>
            </select>
            <input type="text" placeholder="Search.." class="navbar__input"/>
            <button type="submit" class="navbar__button">Search</button>
        </form>
    </nav>
</header>