* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background-color: #e8e8e8;
}

body {
  padding: 20px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__header {
  font-size: 18px;
}

.navbar__select, .navbar__input {
  width: 150px;
  height: 30px;
  outline: none;
  border-radius: 5px;
}


.navbar__input {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  padding: 4px;
}

.navbar__button {
  height: 30px;
  color: white;
  background: #4570f2;
  border: none;
  width: 75px;
  border-radius: 5px;
  cursor: pointer;
}

.movies {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.movie-card {
  width: 200px;
}

.movie-card__image {
  height: 100%;
  width: 100%;
}

.single-movie__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.single-movie-card__image {
  width: 150px;
  height: 220px;
}

.single-movie__title {
  font-size: 24px;
  margin-bottom: 15px;
}

.single-movie__overview {
  font-size: 16px;
  text-align: center;
}