* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background-color: #e8e8e8;
}

body {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__header {
  font-size: 18px;
}

.navbar__select, .navbar__input {
  width: 150px;
  height: 30px;
  outline: none;
  border-radius: 5px;
}


.navbar__input {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  padding: 4px;
}

.navbar__button {
  height: 30px;
  color: white;
  background: #4570f2;
  border: none;
  width: 75px;
  border-radius: 5px;
  cursor: pointer;
}